
nav{
    height: 60px;
    background-color: rgb(93, 118, 110);
}
     /*****info header*****/

.navbar{
    height: 20px;
    background-color: rgb(120, 88, 119);
}
.header-bottom{
    height: 200px;
    background-color: rgb(48, 32, 63);
}
.square-img{
    height: 150px;
}
     /*****info main*****/

        /**info layout**/
.container.uno {
    height: 300px;
    background-color:rgb(21, 77, 81);
}
.container.due {
    height: 300px;
    background-color:rgb(33, 55, 57);
}
.row{
    background-color: #db85c3;
    width: 70%;
    height: 70%;
    display: flex;
}
        /**info boxes**/

.justbox{
background-color: rgb(69, 41, 74);
}
     /*****info footer*****/
   
.footer-top{
    height: 400px;
    background-color: rgb(30, 28, 31);
    margin-bottom: 5px;
}
.frst-footer-box{
    background-color: #7b5b8a;
}
.scnd-footer-box{
    background-color: #4f7193;
    flex-direction: row;
}
.column{
    border: 1px solid rgb(242, 238, 229);
}
.footer-bottom{
    height: 60px;
    background-color: rgb(30, 28, 31);
}
.footer-info{
    width: 80%;
    background-color: rgb(124, 127, 130);
    margin-top: 20px;
}
.info{
    background-color: #7b5b8a;
    padding: 5px;
}